<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Listado de productos</span>
                    <button class="btn btn-success float-end" routerLink='crear-producto'>Nuevo</button>
                    <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Productos</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Ubicacion</th>
                                <th scope="col">Precio</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (p of productos; track $index) {

                            <tr>
                                <td scope="row">{{p.nombre}}</td>
                                <td>{{p.categoria}}</td>
                                <td>{{p.ubicacion}}</td>
                                <td>{{p.precio}}</td>
                                <td>

                                    <i [routerLink]="['/editar-producto', p._id]" class="fa-solid fa-pen-to-square"></i>
                                    <i (click)="eliminarProducto(p._id)" class="fa-solid fa-trash"></i>
                                </td>
                            </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>